nav#sidebar {
    /* max-width: 170px;
    max-width: 57px; */
    height: 92.9vh;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  }
  
  span.link-label {
    font-size: 14px;
  }
  
  ul#btn-sidebar-collapse {
    cursor: pointer;
    bottom: 86px;
    justify-content: center;
  }
  
  .uncollapsed {
    margin-left: 40px;
  }
  
  .collapsed {
    margin-left: 140.39px;
  }
  