<nav id="sidebar" class="bg-light position-fixed">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" [routerLink]="['/dashboard']">
        <span class="fa fa-fw fa-dashboard"></span>
        <span class="align-middle link-label px-1" *ngIf="collapsed">Dashboard</span>
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" [routerLink]="['/crud']">
        <span class="fa fa-fw fa-edit"></span>
        <span class="align-middle link-label px-1" *ngIf="collapsed">CRUD - Base</span>
        <span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link px-2 text-dark" href="" (click)="clickLogout();">
        <span class="fa fa-fw fa-sign-out"></span>
        <span class="align-middle link-label px-1" *ngIf="collapsed">Sair</span>
        <span class="sr-only">(current)</span>
      </a>
    </li>
  </ul>

  <!-- button sidebar collapse -->
  <ul id="btn-sidebar-collapse" class="nav position-absolute bg-dark w-100" (click)="toggleCollapsed()">
    <li class="nav-item py-2" id="sidebarCollapse">
      <i id="toggle-icon" class="fa text-muted" [ngClass]="collapsed ? 'fa-angle-left' : 'fa-angle-right'"></i>
    </li>
  </ul>

</nav>