<ng-template #template>

    <div class="modal-header border-bottom-0 bg-light">
      <h5 class="modal-title">Institucional</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body py-1 bg-light text-justify">
      <p class="text-muted mb-lg-0">Um local para <strong>Solidários</strong> conhecerem as <strong>Entidades Sociais</strong> com as causas mais nobres do
        planeta - todas engajadas em prol dos <a title="Objetivos de Desenvolvimento Sustentável" target="_blank"
          href="https://nacoesunidas.org/pos2015/agenda2030/">ODS</a>.</p>
    </div>
    <div class="modal-footer border-top-0 bg-light py-0">
      <p><small>Saiba mais <a title="Central Institucional" target="_blank"
            href="https://central.ongbook.org">aqui</a>.</small></p>
    </div>
  
  </ng-template>