<app-header></app-header>

<div id="wrapper" class="container-fluid px-0">
    <app-sidebar (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>
    <main class="uncollapsed" [ngClass]="{collapsed: collapedSideBar}">
        <router-outlet></router-outlet>
    </main>
</div>