<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark position-fixed w-100">
  <div class="container">
    <ul class="nav navbar-nav pt-2 pt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#" *ngIf="!user" (click)="clickLogin()">
          LOGIN
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="user" (click)="clickLogout()">
          LOGOUT
        </a>
      </li>
      <button class="btn btn-default" (click)="clickBtn(123)">TST</button>
      <app-modal *ngIf="num !== null" [num]="num"></app-modal>
    </ul>
  </div>
</nav> -->

<nav id="navbar-top" class="navbar navbar-dark bg-dark position-fixed pl-2">
  <div class="container-fluid px-0">
    <a href="">
      <img alt="Ongbook"
        src="https://firebasestorage.googleapis.com/v0/b/mvp-ongbook.appspot.com/o/ongbook-marker.png?alt=media&amp;token=54548289-eb45-41b9-aebf-0db0660c1570">
    </a>
    <span id="brand-title" class="m-auto ml-sm-3 text-white">Painel Ongbook</span>
    <ul class="nav navbar-nav">
      <li class="nav-item">
        <div dropdown>
          <a class="nav-link d-flex" id="dropdownMenuButton" dropdownToggle>
            <i class="fa fa-ellipsis-v"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right bg-light position-absolute"
            aria-labelledby="dropdownMenuButton" *dropdownMenu>
            <a class="dropdown-item">Configurações</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="clickLogout();">Logout</a>
          </div>
        </div>
      </li>
    </ul>

  </div>
</nav>